@font-face {
  font-family: "GreatVibes";
  src: url(../fonts/GreatVibes.ttf);
}

@font-face {
  font-family: "Nexa";
  src: url(../fonts/Nexa_Free_Bold-webfont.woff2);
}

.section {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}
.heading {
  margin-top: 100px;
  color: white;
  font-size: 6em;
  font-family: "GreatVibes";
  line-height: 1em;
}

.faqbox {
  margin: auto;
  width: 700px;
  text-align: left;
  justify-content: left;
}
.q {
  color: white;
  font-size: 40px;
  margin-right: 20px;
  font-family: "GreatVibes";
}
.questions {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.answers {
  white-space: pre-line;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-bottom: 20px;
}
.hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75),
    rgba(255, 0, 0, 0)
  );
  display: inline-block;
  width: 15%;
  margin-left: 2vw;
  vertical-align: middle;
}

.hl {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0.75)
  );
  display: inline-block;
  width: 15%;
  margin-right: 2vw;
  vertical-align: middle;
}

.description {
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
}

.bordertop {
  height: 5rem;
  filter: brightness(0) invert(1);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 4em;
  }
  .faqbox {
    margin: auto;
    width: 350px;
  }
}
